RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f


RewriteRule ^san-pham san-pham.php
RewriteRule ^lien-he lien-he.php
RewriteRule ^chinh-sach-doi-tra chinh-sach-doi-tra.php
RewriteRule ^khuyen-mai khuyen-mai.php
RewriteRule ^gio-hang order.php
RewriteRule ^order-success order_success.php
RewriteRule ^gioi-thieu gioi-thieu.php
RewriteRule ^cam-nang-mua-sam cam-nang.php

RewriteRule ^([a-zA-Z0-9_-]+)$ detail.php?product_id=$1
RewriteRule ^cam-nang/([a-zA-Z0-9_-]+)$ cam-nang/chi-tiet.php?id=$1



