<?php
    session_start();
    if(!isset($_SESSION['username'])) {
        $newURL = "../login";
        header('Location: '.$newURL);
    }
?>
<html>
    <head>
        <div id="header-css">
            <script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/common.js"></script>
			<link rel="stylesheet" type="text/css" 
					  href="../static/bootstrap-3.3.7/dist/css/bootstrap.min.css" />
			<link rel="stylesheet"  href="../static/css/main.css" />

			<script src="../static/bootstrap-3.3.7/dist/js/bootstrap.min.js"></script>
        </div>
    </head>
    <body>
        <div>
  
            <!-- this is header -->
            <div class="container">
            <nav class="navbar navbar-default" role="navigation">
                <div class="container-fluid">
                  <div class="navbar-header">
                    <a class="navbar-brand" href="#">PHỤ KIỆN VT</a>
                  </div>
                  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <form class="navbar-form navbar-left">
                      <div class="form-group">
                        <input type="text" class="form-control" placeholder="Tìm kiếm"/>
                      </div>
                      <a href="javascript:void(0)" class="btn btn-default">Tìm</a>
                    </form>
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a class="dropbtn" href="#" onclick="logoutPopup()"><?php echo $_SESSION['nameLogin']; ?> <b class="caret"></b></a>
                            <div class="dropdown-content">
                                <a href="#">Thông tin</a>
                                <a href="#">Chỉnh sửa</a>
                                <a href="javascript:void(0)" onclick="logout()">Đăng xuất</a>
                            </div>
                        </li>
                    </ul>
                  </div>
                </div>
            </nav>
            </div>
            
            <div id="notifycationHeader" class="notification-header hide">
                <span id="notifycationTextHeader">hehe</span>
            </div>
        </div>
        
    </body>
</html>