<link rel="stylesheet"  href="../static/css/left-menu.css" />
<div class="left">
    <div class="item">
        <span class="glyphicon glyphicon-th-large"></span>
    </div>
    <a href="../shop/shop_list.php">
        <div class="item">
            <i class="glyphicon glyphicon-home"></i> Cửa hàng
        </div>
    </a>
    
    <?php 
        if($_SESSION["role"] == 'manager') {
            echo "<a href='../product/product_list.php'>";
            echo    "<div class='item'>";
            echo        "<i class='glyphicon glyphicon-phone'></i> Sản phẩm";
            echo    "</div>";
            echo "</a>";
            
            echo "<a href='#'>";
            echo    "<div class='item'>";
            echo        "<i class='glyphicon glyphicon-stats'></i> Thống kê";
            echo    "</div>";
            echo "</a>";
            
            echo "<a href='#'>";
            echo    "<div class='item'>";
            echo        "<i class='glyphicon glyphicon-camera'></i> Giám sát";
            echo    "</div>";
            echo "</a>";
            
            echo "<a href='#'>";
            echo    "<div class='item'>";
            echo        "<i class='glyphicon glyphicon-user'></i> Nhân viên";
            echo    "</div>";
            echo "</a>";
        }
    ?>
    <a href="../black-list">        
        <div class="item">
            <i class="glyphicon glyphicon-minus-sign"></i> Danh sách đen   
        </div>
    </a>
    
    <a href="#">
        <div class="item">
            <i class="glyphicon glyphicon-pencil"></i> Báo cáo
        </div> 
    </a>
</div>

