<link rel="stylesheet"  href="../static/css/left-menu.css" />
<div class="left">
    <div class="item">
        <span class="glyphicon glyphicon-th-large"></span>
    </div>
    <div class="item">
        <a href="../shop/shop_list.php">
           <i class="glyphicon glyphicon-home"></i>
           Cửa hàng
        </a>
    </div>
    
    <?php 
        if($_SESSION["role"] == 'manager') {
            echo "<div class='item'>";
            echo "<a href='../product/product_list.php'>";
            echo     "<i class='glyphicon glyphicon-phone'></i> Sản phẩm";
            echo "</a>";
            echo "</div>";
            
            echo "<div class='item'>";
            echo "<a href='#'>";
            echo    "<i class='glyphicon glyphicon-stats'></i> Thống kê";
            echo "</a>";
            echo "</div>";
            
            echo "<div class='item'>";
            echo "<a href='#'>";
            echo    "<i class='glyphicon glyphicon-camera'></i> Giám sát";
            echo "</a>";
            echo "</div>";
            
            echo "<div class='item'>";
            echo "<a href='#'>";
            echo    "<i class='glyphicon glyphicon-user'></i> Nhân viên";
            echo "</a>";
            echo "</div>";
        }
    ?>
            
    <div class="item">
        <a href="../black-list">
            <i class="glyphicon glyphicon-minus-sign"></i> Danh sách đen
        </a>
    </div>
    <div class="item">
        <a href="#">
            <i class="glyphicon glyphicon-pencil"></i> Báo cáo
        </a>
    </div> 
</div>

