body {
    background-color: #eaeaea;
}

a, button {
    cursor: pointer;
    text-decoration: none;
}

a, a:-webkit-any-link {
    text-decoration: none;
    color: #4a90e2;
}

header {
    position: relative;
    z-index: 998;
    padding: 1px 100px;
    height: 0px;
}

header .wrap {
    margin: auto;
    overflow: hidden;
}

header .profile {
    float: right;
    text-align: right;
    line-height: 44px;
}

header .profile a.cart {
    line-height: 20px;
    font-size: 16px;
    color: #fe7a12;
    display: inline-block;
    position: relative;
    padding-left: 31px;
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
    min-height: 35px;
    text-decoration: none;
    width: 300px;
    margin-top: 10px;
}

header .profile a.cart i {
    margin-left: 0;
    position: absolute;
    left: -4px;
}

.icon-cart {
    background-position: -473px -319px;
    width: 30px;
    height: 29px;
}

[class^="icon-"], [class*="icon-"] {
    background-size: 634px auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

header .profile a.cart span {
    font-size: 16px;
    color: #fff;
    display: block;
    margin-left: 0;
    margin-top: 0;
}

header .profile span {
    text-align: left;
}

header .profile span, header .profile .odhistory {
    display: inline-block;
    font-size: 14px;
    color: #fe7a12;
    letter-spacing: .14px;
    margin-left: 70px;
    position: relative;
    vertical-align: middle;
}

header .profile a.cart b {
    background: #f30600;
    color: #fff;
    border-radius: 100%;
    width: 90px;
    height: 90px;
    display: inline-block;
    font-size: 45px;
    line-height: 20px;
    text-align: center;
    visibility: hidden;
    margin-left: 3px;
    float:right;
    padding-top: 30px;
}

header .profile a.cart span.total {
    display: block;
    font-size: 14px;
    padding: 0;
    color: #fff;
    margin-top: -3px;
}

header .profile span, header .profile .odhistory {
    display: inline-block;
    font-size: 14px;
    color: #fe7a12;
    letter-spacing: .14px;
    margin-left: 70px;
    position: relative;
    vertical-align: middle;
}

header .profile .odhistory a.his {
    color: #fe7a12;
}

a, a:-webkit-any-link {
    text-decoration: none;
    color: #4a90e2;
}

.profile .odhistory .save-product {
    position: absolute;
    top: 25px;
    background: #fe7a12;
    right: 0;
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.45098039215686275);
    z-index: 9;
    border-radius: 3px;
    color: #fff;
    line-height: 40px;
    font-size: 14px;
    font-weight: bold;
    display: none;
    padding-right: 4px;
    min-width: 166px;
}

.orange, .search-menu.orange {
    background: #fe7500;
    height: 120px;
    position: fixed;
    width: 100%;
    z-index: 1000;
    top: 0px;
}

.search-menu {
    padding: 7px 0;
}

.search-menu .container1 {
    padding-top: 0;
    margin-bottom: 0;
    width: 1200px;
    margin: 0 auto;
    overflow: initial;
    background: none;
}

.search-menu form {
    width: 600px;
    position: relative;
    float: left;
}

.search-menu form input {
    background: #fff;
    border-radius: 4px;
    border: none;
    padding: 12.5px 30px 12.5px 10px;
    width: 100%;
    color: #e88f49;
    box-sizing: border-box;
    outline: 0;
    font-size: 50px;
}

.search-menu form button {
    width: 22px;
    height: 22px;
    position: absolute;
    right: 5px;
    top: 50%;
    background: no-repeat;
    outline: none;
    border: none;
    transform: translateY(-50%);
}

.search-menu form button .icon-search {
    position: absolute;
    background-position: -162px -287px;
    width: 22px;
    height: 22px;
    left: 0;
    top: 0;
    filter: grayscale(100%);
}

.search-menu form .searchclear {
    display: none;
    position: absolute;
    right: 2px;
    top: 2px;
    height: 25px;
    width: 28px;
    background-color: #fff;
    margin: auto;
    cursor: pointer;
    padding: 8px 0 0 16px;
    border-radius: 10px;
}

.search-menu form .searchclear .icon-searchclr {
    background-position: -70px -25px;
    width: 16px;
    height: 16px;
}

[class^="icon-"], [class*="icon-"] {
    background-size: 634px auto;
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.big-campain {
    display: block;
    position: relative;
    background-color: #eaeaea;
}

.big-milks {
    background-color: #f1ce0b;
    padding-bottom: 50px;
}

.big-milks .bigcam-item {
    background-position: center;
    width: 1200px;
    height: 475px;
    background-repeat: no-repeat;
}

.bigcam-item, .bigcam-itemv2 {
    width: 1200px;
    margin: auto;
}

.bigcam-pro {
    padding-top: 65px;
    margin: 0 auto;
}

.bigcam-pro .productcam {
    width: calc(100%/3);
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-left: 0;
    float: left;
}

.bigcam-pro .productcam a {
    display: block;
    width: 330px;
    height: 330px;
    box-sizing: border-box;
    text-align: center;
    margin: 0 auto;
    position: relative;
}

a, a:-webkit-any-link {
    text-decoration: none;
    color: #4a90e2;
}

.bigcam-pro .productcam img {
    max-width: 330px;
    width: auto;
    height: auto;
    max-height: 330px;
}

.big-milks img {
    display: block;
    margin: auto;
    width: auto;
    max-width: 100%;
}

.bigcam-pro .productcam .name {
    padding: 5px 0;
    color: #fff;
    margin-left: 50px;
}

.bigcam-pro .productcam .info {
    display: block;
    margin: 0 auto;
    margin-left: 50px;
}

.bigcam-pro .productcam .prices {
    display: block;
    float: left;
    margin-right: 10px;
}

.bigcam-pro .productcam .new {
    display: block;
    vertical-align: middle;
    color: #f0d621;
    font-size: 16px;
}

.bigcam-pro .productcam .line {
    display: block;
    color: #048335;
    text-decoration: line-through;
}

.bigcam-pro .productcam .buy {
    border-radius: 20px;
    height: 32px;
    line-height: 32px;
    color: #005623;
    font-weight: bold;
    width: 120px;
    background-color: #f0d621;
    float: left;
    text-transform: uppercase;
    border: 1px solid #f0d621;
}

.itembuy, .itembuy1 {
    border: 1px solid #fe7500;
    border-radius: 20px;
    height: 26px;
    line-height: 26px;
    color: #fe7500;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    width: 100px;
    box-sizing: border-box;
    text-align: center;
}

.big-milks .bigcam-prohide {
    margin: 0 auto;
    padding: 15px 0;
}

.bg-orange {
    background-color: #eaeaea;
}

.flashsale {
    display: block;
    clear: both;
    overflow: hidden;
    background: #fff;
    width: 1200px;
    margin: 0 auto;
    border-right: none;
    margin-bottom: 15px;
    border-radius: 4px;
    position: relative;
    z-index: 1;
    margin-top: 20px;
}

.flashsale h2 {
    color: #fe7500;
    font-weight: bold;
    font-size: 50px;
    padding: 20px 0 0 20px;
}

.owl-carousel.owl-loaded {
    overflow: visible !important;
}

.flashsale .scrollflash {
    position: relative;
    display: block;
    box-sizing: border-box;
    border-left: 0;
    max-height: 1000px;
    overflow: hidden;
}

.scrollflash {
    width: 100%;
}

.owl-carousel {
    -webkit-tap-highlight-color: transparent;
    z-index: 1;
}

.owl-carousel .owl-stage-outer {
    overflow: visible !important;
}

.owl-carousel .owl-stage-outer {
    position: relative;
}

.owl-carousel .owl-stage {
    position: relative;
    -ms-touch-action: pan-Y;
    touch-action: manipulation;
    -moz-backface-visibility: hidden;
}

.scrollflash.owl-carousel .owl-item {
    transition: box-shadow .3s ease-out,transform .3s ease-out;
}

.owl-carousel .owl-item {
    overflow: visible !important;
}

.owl-carousel .owl-item {
    position: relative;
    min-height: 1px;
    float: left;
}

.fpro {
    float: left;
    width: 100%;
    background: #fff;
    overflow: hidden;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 10px;
    height: 100%;
}

.fpro .flimg {
    position: relative;
    display: table-cell !important;
    width: 1100px;
    vertical-align: bottom;
    margin-left: 50px;
}

.fpro .flimg img {
    display: block;
    margin: 0 auto;
    width: auto;
    height: auto;
    background: #fff;
    width: 1100px;
    height: 850px;
    margin: 10px 0 0 50px;
}

.lazy.loaded, .owl-lazy.loaded {
    animation: none;
    background: none;
}

.fpro .info {
    text-align: center;
    display: block !important;
    position: absolute;
    bottom: 0px;
    width: 1200px;
    height: 350px;
    padding-top: 30px;
}

.owl-carousel .owl-item a {
    display: block;
}

.fpro .name {
    display: block;
    color: #999;
    text-align: center;
    padding: 5px 16px;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    text-decoration: none;
    opacity: 1;
    text-transform: uppercase;
    font-size: 50px
}

.fpro .prices {
    display: block;
    text-align: center;
    font-size: 50px;
}

.fpro .prices .new {
    color: #333;
    margin-right: 5px;
}

.fpro .prices .new, .fpro .prices .line, .fpro .discount {
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-size: 50px;
}

.fpro .prices .line {
    color: #999;
    text-decoration: line-through;
}

.fpro .discount {
    color: #fff;
    font-weight: bold;
    background-color: #ff7706;
    padding: 0 2px;
    font-size: 45px;
    margin-left: 10px;
    border-radius: 0 3px 3px 0;
    position: relative;
}

.fpro .buy {
    border: 1px solid #fe7500;
    border-radius: 20px;
    height: 100px;
    line-height: 26px;
    color: #fe7500;
    display: block;
    margin: 0 auto;
    cursor: pointer;
    overflow: hidden;
    width: 600px;
    box-sizing: border-box;
    text-align: center;
    background: none;
    text-transform: uppercase;
}

footer {
    width: 100%;
    -moz-min-width: 980px;
    -ms-min-width: 980px;
    -o-min-width: 980px;
    -webkit-min-width: 980px;
    min-width: 980px;
    margin: 0 auto 0;
    background: #183543;
    clear: both;
}

footer>div {
    width: 1200px;
    margin: 0 auto;
}

.footer_content {
    overflow: hidden;
    clear: both;
    background: #183543;
}

.footer_content ul {
    display: block;
    overflow: hidden;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto 10px;
    min-width: 980px;
}

ol, ul {
    list-style: none;
}

.footer_content li:first-child {
    width: 50%;
    margin-top: 15px;
}

.footer_content li {
    float: left;
    width: 50%;
    overflow: hidden;
    margin-top: 15px;
}

.footer_content li a {
    display: block;
    overflow: hidden;
    font-size: 50px;
    color: #478cdb;
    margin-bottom: 5px;
}

footer .deliverynote {
    background: #fe7500;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 1.2em;
    width: 100%;
}

.slider_container {
    visibility: hidden; 
    position: relative; 
    width: 1200px; 
    height: 442px; 
    overflow: hidden;
    margin-bottom: 10px;
}

.wraper-header {
	width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
}

.header {
	width: 100%;
	height: 200px;
	background-color: #ef6d21;
}

.title-header {
	color: #fff;
	font-size: 40px;
	font-weight: 700;
	width: 50%;
	height: 50%;
	padding: 10px;
	float: left;
}

.phone-header {
	color: red;
	font-size: 40px;
	font-weight: 700;
	width: 50%;
	height: 50%;
	padding: 10px;
	float: right;
}

.icon-menu {
    font-size: 90px;
    cursor: pointer;
    color: white;
    margin-top: 30px;
    float: left;
    margin-left: 30px;
}

.header .profile {
    float: right;
    text-align: right;
    line-height: 44px;
    width: 17%;
    height: 100%;
}

.header .profile a.cart {
    line-height: 20px;
    font-size: 16px;
    color: #fe7a12;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    text-align: left;
    vertical-align: middle;
    min-height: 35px;
    text-decoration: none;
}

.shopping-cart {
	background: #f30600;
    color: #fff;
    border-radius: 100%;
    width: 70px;
    height: 70px;
    display: inline-block;
    font-size: 40px;
    line-height: 20px;
    text-align: center;
    visibility: hidden;
    margin-left: 3px;
    padding-top: 30px;
}

.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #eaeaea;;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  border: 1px solid;
}

.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 40px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 70px;
  margin-left: 50px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

.icon-menu {
	font-size: 90px;
    cursor: pointer;
    color: white;
    margin-top: 30px;
    float: left;
    margin-left: 20px;
}

.row-menu {
	width: 100%;
	height: 150px;
	border-bottom: 1px solid #bbb4b4;
	font-size: 17px;
	font-weight: bold;
	padding-top: 50px !important;
}

.thuong-hieu {
	width: 100%;
}

.cup-thuong {
	width: 100%
}

.border-circle {
	width: 400px;
    height: 400px;
    border-radius: 50%;
    border: 5px solid;
    text-align: center;
    margin: auto;
    cursor: pointer;
    margin-top:15px;
}

.icon-thuong-hieu {
	width: 70%;
    height: 70%;
    margin-top: 20%;
}

.text-thuong-hieu {
	text-align: center;
	margin-top: 10px;
}

.thuong-hieu-title {
	font-weight: bold;
    font-size: 45px;
    margin-top: 30px;
}

.thuong-hieu-description {
	width: 80%;
    margin-left: 10%;
    font-size: 45px;
}

.huy-chuong {
	margin-top: 80px;
}

.hanh-trinh {
	margin-top: 80px;
}

.su-menh {
	width: 100%;
	background-color: white;
	padding-bottom: 70px;
	padding-top: 70px;
}

.img-su-menh {
	width: 90%;
    margin-left: 5%;
    padding-top: 30px;
}

.text-su-menh {
	width: 100%;
	text-align: center;
	padding: 20px;
}

.title-su-menh {
	font-size: 40px;
	font-weight: 700;
	color: #555;
	line-height: 1.2;
}

.description-su-menh {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 40px;
    width: 90%;
    margin-left: 5%;
}

.chat-luong {
	width: 100%;
	padding-bottom: 70px;
	padding-top: 70px;
	background-color: #e4e4dc;
}

.img-chat-luong {
	width: 90%;
    margin-left: 5%;
    padding-top: 30px;
}

.text-chat-luong {
	width: 100%;
	text-align: center;
	padding: 20px;
}

.title-chat-luong {
	font-size: 40px;
	font-weight: 700;
	color: #555;
	line-height: 1.2;
}

.description-chat-luong {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1.6;
    color: #333;
    font-size: 40px;
    width: 90%;
    margin-left: 5%;
}

.keu-goi {
	width: 100%;
	background-color: #333;
	padding: 100px 0 100px 40px;
}

.text-keu-goi {
	width: 100%;
}

.title-keu-goi {
	font-family: "Roboto", sans-serif;
	color: #fff;
	font-size: 45px;
	line-height: 1.6;
	font-weight: bold;
}

.description-keu-goi {
	color: #f1f1f1;
    font-family: "Roboto", sans-serif;
    width: 100%;
    font-size: 40px;
    line-height: 1.6;
}

.goi-ngay {
	width: 100%;
	text-align: center;
}

.form-goi-ngay {
	width: 630px;
    height: 120px;
    border: 5px solid #fff;
    display: table;
    margin-top: 70px;
    cursor: pointer;
    text-align: center;
}

.text-goi-ngay {
	color: #f1f1f1;
    vertical-align: middle;
    text-align: center;
    display: table-cell;
    font-weight: bold;
    font-size: 45px;
}

.center-div {
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.footer_content {
    overflow: hidden;
    clear: both;
    width: 100%;
    font-size: 17px;
    color: #f1f1f1;
    background: #777;
    padding: 50px 0 0 40px;
}

.f-lien-he {
	width: 100%;
	padding: 20px 0 20px 10px;
}

.title-lien-he {
	font-size: 40px;
    font-weight: 700;
}

.line-lien-he {
	width: 15%;
	height: 3px;
	background-color: #bfb9b9;
}

.text-lien-he {
	font-size: 35px;
}

.order-success {
	color: #f95d01;
    font-size: 50px;
    font-weight: bold;
    font-family: 'Roboto Slab', serif;
    width: 100%;
    text-align: center;
}

.cam-nang {
	width: 90%;
	margin: 10px 0 10px 5%;
	padding: 20px;
	background-color: #fff;
	float: left;
}

.title-cam-nang {
	width: 90%;
    margin: 30px 0 10px 5%;
    height: 80px;
    background-color: #ffd200;
    border-radius: 20px 0 0 20px;
    padding: 10px 0 0 20px;
    font-size: 40px;
    font-weight: bold;
    text-shadow: 1px 1px 1px #fff;
    color: #000;
    font-family: 'UTMCafeta';
    text-transform: uppercase;
}

.item-cam-nang {
	width: 100%;
	height: 300px;
	margin: 10px 0 0 10px;
}

.content-cam-nang {
	width: 70%;
	float: left;
	padding: 0 10px 20px 30px;
	font-size: 35px;
}

.img-cam-nang {
	width: 25%;
	float: left;
	max-height: 95%;
}

.title-item-camnang{
	color: #446CB3;
	text-decoration: none !important;
	font-size: 45px;
}

.item-content {
	margin-top: 20px;
	font-size: 35px;
}

.des-item-camnang {
	display: block;/* or inline-block */
  	text-overflow: ellipsis;
  	word-wrap: break-word;
  	overflow: hidden;
 	max-height: 3.6em;
  line-height: 1.8em;
}

.cam-nang-left {
	width: 75%;
	float: left;
}

.cam-nang-right {
	width: 24%;
	float: right;
}

.lien-he {
	margin: 95px 0 50px 0;
	width: 100%;
}

.contact-info {
	width: 90%;
    margin-left: 5%;
    margin-bottom: 120px;
}

.send-message {
	width: 90%;
	margin-left: 5%;
}

.title-contact-info {
	width: 100%;
    height: 80px;
    vertical-align: middle;
    font-weight: 700;
    font-size: 45px;
    border-bottom: 2px solid #bda9a9;
}

.title-company {
	font-size: 40px;
    font-weight: 600;
    margin-top: 30px;
}

.name-fanpage {
	color: #58370d !important;
    font-weight: bold;
    text-decoration: none !important;
}

.title-send-message {
	font-size: 40px;
    font-weight: bold;
}

.input-send-message {
	box-sizing: border-box;
    border: 1px solid #b3b39e;
    padding: 0 .75em;
    height: 2.6em;
    font-size: 40px;
    max-width: 100%;
    width: 100%;
    vertical-align: middle;
    background-color: #fff;
    color: #333;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    transition: color .3s, border .3s, background .3s, opacity .3s;
    border-radius: 5px;
}

.text-send-message {
	max-width: 100%;
    width: 100%;
     box-shadow: inset 0 1px 2px rgba(0,0,0,0.1);
    transition: color .3s, border .3s, background .3s, opacity .3s;
    border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #b3b39e;
    padding: 0 .75em;
    height: 300px;
    font-size: 40px;
}

.submit-send-message {
	width: 200px;
    height: 80px;
    background-color: #4099ad;
    color: white;
    border: 1px solid #9c9898;
    font-size: 40px;
    font-weight: bold;
    margin-top: 20px;
}

.map {
	width: 100%;
	border: 1px solid;
}

.img-map {
	width: 100%;
}

.chinh-sach-doi-tra {
    width: 90%;
    background-color: #fff;
    margin: 30px 0 20px 5%;
    padding: 20px 0 10px 5%;
    font-family: inherit;
}

.title-doi-tra {
	width: 85%;
    height: 80px;
    border-bottom: 2px solid #d4caca;
    font-size: 45px;
    font-weight: bold;
    margin-left: 5%;
}

.content-doi-tra {
	width: 95%;
	margin-top:10px;
	font-size: 38px;
	line-height: 1.7;
}