div {
    display: block;
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    background-color: #FFffff;
    font: normal normal 14px Verdana, Open Sans;
    color: #333333;
    display: block;
}

a:-webkit-any-link {
    color: -webkit-link;
    cursor: auto;
    text-decoration: none;
}

header {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    width: 1170px;
}

.head-area {
    padding: 0px 0;
}

#logo {
    width: 188px;
    float: left;
}

#logo, #navigation {
    display: inline-block;
    margin-right: 2%;
}

#navigation {
    width: 466px;
    float: left;
    padding-top: 20px;
    padding-left: 125px;
}

nav ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style-type: none;
}

nav ul li {
    position: relative;
    display: inline-block;
}

#search {
    margin: -2px auto;
    float: right;
}

#search .input-group {
    position: relative;
    float: right;
    width: 200px;
}

form {
    display: block;
    margin-top: 0em;
}

#search .form-control {
    padding: 0px 15px;
    line-height: 40px;
    background: #f9f9f9;
    border: none;
    border-radius: 20px;
    font-family: 'Georgia';
    font-style: italic;
    color: #cccccc !important;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

#search button {
    position: absolute;
    right: 0px;
    line-height: 40px;
    color: #bbbbbb;
    font-size: 14px;
    background: none;
    width: 40px;
    padding: 0px;
    z-index: 99;
    border: none;
}

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.active a, nav ul li:hover a {
    color: #5BC0EB;
    border-bottom: 3px solid #5BC0EB;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

ul {
    list-style-type: none;
}

nav ul li a {
    font-size: 14px;
    font-weight: 600;
    padding: 15px 0;
    border-bottom: 3px solid transparent;
    margin: 0px 10px;
    font-family: Verdana, Lato ,sans-serif;
}

.content {
    background: #f9f9f9;
    padding-top: 20px;
    width: 100%;
    margin-top: 55px;
    text-align: center;
}

.widget-title {
    position: absolute;
    top: 200px;
    left: 15%;
    margin-top: -50px;
    margin-left: -50px;
    width: 70%;
    height: 100px;
}

.product-list {
    float: left;
}

td {
    padding: 3px;
    vertical-align: middle;
}

tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}

tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}

table {
    border-spacing: 0;
}

.footer-wrapper {
    background: #222222;
}

.container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: transparent;
}

footer {
    padding: 30px 0;
    color: #a0a0a0;
    height: 350px;
}

footer .footer-section {
    width: 30%;
    margin-right: 5%;
    float: left;
}

footer .footer-section {
    width: 30%;
    margin-right: 5%;
    float: left;
}

footer .footer-section {
    width: 30%;
    margin-right: 0%;
    float: left;
}
