body {
    background: #F1F1F1;
    width: 100%;
    font-family: Verdana,sans-serif;
    font-size: 15px;
    line-height: 1.5;
    display: block;
}

div {
    display: block;
}

.menu {
    position: fixed;
    height: 100px;
    width: 100%;
    z-index: 30;
    background: black;
    top: 0pt;
}

.logomenu {
    height: 50pt;
    width: 72pt;
    padding-left: 10pt;
}

.logohatec {
    width: 55pt;
    height: inherit;
}

.tencongtymenu {
    height: 50pt;
    width: 300pt;
    position: absolute;
    left: 73pt;
    top: 0pt;
}

.tencty {
    color: white;
    padding-top: 2pt;
    font-weight: bold;
    font-size: 14.5pt;
}

.diachi1 {
    color: white;
    font-size: 8pt;
}

.diachi2 {
    color: white;
    font-size: 8pt;
    word-spacing: 2.8pt;
}

.fanpagehatec {
    position: absolute;
    left: 360pt;
    z-index: 60;
    top: 3pt;
    cursor: pointer;
}

.fanpagehatecHinh {
    width: 170pt;
}

.hotlinemenu {
    height: 50pt;
    width: 180pt;
    position: absolute;
    right: 200pt;
    top: 0pt;
}

.hotline {
    width: 100%;
    height: inherit;
    padding-bottom: 4pt;
}
.vohangmenu {
    background: black;
    height: 50pt;
    width: 100pt;
    position: absolute;
    right: 20pt;
    top: 0pt;
}
.vohangmenu_hinh {
    width: 55pt;
    height: inherit;
    cursor: pointer;
}
.vohangmenu_soluong {
    color: orange;
    font-size: 16pt;
    position: absolute;
    top: 10pt;
    right: 10pt;
    width: 40pt;
    text-align: center;
}