.divShop{
    width:25%; 
    float:left; 
    margin-top:40px;
}

.shop_services_item  {
    background-repeat: no-repeat;
    background-position: center;
    height: 100;
    width: 100px;
    display: block;
    margin: auto auto;
    border: 1px solid #41b75e;
    border-radius: 25px;
    vertical-align:middle; 
    text-align:center
}

.titleShop {
    text-align: center;
    font-size: 18px;
    display: block;
    color: #252525;
    padding-top: 10px;
}

.imageIconShop{
	padding:15px 0 15px;
}

.input-error{
    border: 1px solid red;
}